@import url("https://fonts.googleapis.com/css?family=Roboto");
@font-face {
  font-family: Roboto-thin;
  src: url(../fonts/Roboto-Thin.ttf); }
@font-face {
  font-family: Roboto-regular;
  src: url(../fonts/Roboto-Regular.ttf); }
@font-face {
  font-family: Roboto-light;
  src: url(../fonts/Roboto-Light.ttf); }
@font-face {
  font-family: Roboto-light-italic;
  src: url(../fonts/Roboto-LightItalic.ttf); }
@font-face {
  font-family: Roboto-bold-italic;
  src: url(../fonts/Roboto-BoldItalic.ttf); }
* {
  font-family: Roboto-regular, sans-serif;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

#navbar {
  min-height: 80px;
  display: flex;
  padding-top: 30px;
  padding-bottom: 15px;
  justify-content: space-between; }
  #navbar div {
    height: 50%; }
  #navbar div:nth-child(1) a:first-child {
    margin-left: 70px; }
  #navbar div:nth-child(1) a {
    padding: 10px; }
  #navbar div:nth-child(2) {
    float: right;
    margin-right: 300px; }

header {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 0 450px 0;
  height: 550px; }

.welcome h1 {
  font-size: 55px;
  font-family: Roboto-thin, sans-serif;
  letter-spacing: 4px;
  word-spacing: 5px; }
.welcome p {
  margin-top: 5px;
  margin-bottom: 80px;
  font-size: 24px; }

.buttonTransparent {
  border-radius: 10px;
  padding: auto 0;
  background-color: transparent;
  font-family: Roboto-Light, sans-serif;
  width: 380px;
  height: 70px;
  font-size: 25px;
  letter-spacing: 2px;
  border: 0.5px solid black;
  text-transform: uppercase; }

#requires {
  width: 60%;
  margin: 70px auto; }
  #requires .downloadContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #requires .downloadContainer .requirerow .Radius {
      width: 120px;
      border-radius: 50%;
      border: 4.2px solid #ffd200;
      height: 120px;
      padding: auto auto; }
      #requires .downloadContainer .requirerow .Radius img {
        margin: 27.5px; }
    #requires .downloadContainer .line {
      border-top: 5px #ffd200 dashed;
      margin-top: 60px;
      width: 140px; }
@media(max-width: 1518px) {
  #requires .downloadContainer .l3 {
    display: none; } }
  #requires p {
    font-size: 22px;
    padding-top: 15px;
    color: black;
    text-align: center;
    font-family: Roboto-Light, sans-serif; }

#advantage {
  background-color: #f3f0e7;
  text-align: center;
  padding: 40px 0 120px 0; }
  #advantage .advantageTitle {
    padding-bottom: 10px;
    font-size: 60px;
    font-weight: 100;
    font-variant: small-caps;
    font-family: Roboto-thin, sans-serif; }
  #advantage #advantageGrid {
    display: flex;
    margin: auto auto;
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap; }
    #advantage #advantageGrid div {
      padding-top: 30px; }
      #advantage #advantageGrid div .advantagetitles {
        font-family: Roboto, sans-serif;
        font-size: 26px;
        margin: 20px 0; }
      #advantage #advantageGrid div .advantagetext {
        font-family: Roboto-Light, sans-serif;
        font-size: 18px;
        margin: 5px 0; }

.buttonred {
  background-color: #e11a27;
  border: 1px solid #e11a27;
  margin-top: 85px;
  width: 400px;
  font-size: 27px; }
  .buttonred a {
    color: white; }

#terms {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center; }
  #terms .termsContainer, #terms .payment, #terms .shipping {
    width: 320px; }

.termsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .termsGrid .h1Terms, .termsGrid .h1Payment, .termsGrid .h1Shipping {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto-Light, sans-serif;
    letter-spacing: 1px;
    margin: 5px 0 10px 0;
    font-size: 24px;
    background-color: #ffd200;
    border-radius: 7px 7px 0 0;
    height: 70px; }
@media(max-width: 1200px) {
  .termsGrid .h1Terms, .termsGrid .h1Payment, .termsGrid .h1Shipping {
    margin-top: 30px; } }
    .termsGrid .h1Terms h1, .termsGrid .h1Payment h1, .termsGrid .h1Shipping h1 {
      padding: 3px 0;
      font-weight: 100;
      font-variant: small-caps; }
  .termsGrid .pTerms, .termsGrid .pPayment, .termsGrid .pShipping {
    background-color: #f7f0e6;
    border-radius: 0 0 6px 6px;
    height: 230px;
    display: flex;
    text-align: left; }
  .termsGrid .pTerms p, .termsGrid .pShipping p, .termsGrid .pPayment div {
    margin: 30px auto;
    width: 215px; }
  .termsGrid .pPayment div ul {
    padding: 10px 0 0 30px; }
    .termsGrid .pPayment div ul li {
      padding: 4px 0;
      list-style-type: disc; }

#testimonials {
  background-image: url("../img/bg-testimonials.jpg");
  background-size: cover;
  background-position: center;
  padding: 30px 0 50px 0; }
  #testimonials .testimonialsContainer {
    width: 500px;
    margin: 0 0 0 80px; }
    #testimonials .testimonialsContainer div {
      padding: 10px 0; }
  #testimonials h1 {
    margin-bottom: 15px;
    font-size: 60px;
    font-weight: 100;
    font-variant: small-caps;
    font-family: Roboto-thin, sans-serif; }
  #testimonials .row2 {
    display: flex;
    align-items: center; }
    #testimonials .row2 p {
      padding-left: 30px; }
      #testimonials .row2 p:first-child {
        font-size: 36px; }
  #testimonials .row3 {
    margin-bottom: 100px; }
    #testimonials .row3 .next {
      float: right;
      padding-top: 10px; }
  #testimonials .bcenter {
    display: flex; }
    #testimonials .bcenter button {
      margin: 0 auto; }

footer {
  background-color: #ffd200;
  padding: 50px 0 150px 0; }
  footer .footerContainer {
    width: 90%;
    display: flex;
    flex-wrap: wrap; }
    footer .footerContainer .column123 {
      flex: 3;
      display: flex;
      flex-wrap: wrap;
      margin: 0 140px 0 80px;
      justify-content: space-between; }
      footer .footerContainer .column123 nav {
        padding-top: 25px;
        width: 120px;
        border-top: 1px solid black; }
@media(max-width: 928px) {
  footer .footerContainer .column123 nav {
    margin-top: 20px; } }
        footer .footerContainer .column123 nav ul {
          width: 70%;
          margin: 0 auto;
          float: left; }
          footer .footerContainer .column123 nav ul li {
            padding: 5px 0;
            font-variant: small-caps; }
    footer .footerContainer .column4 {
      flex: 1;
      display: flex; }
@media(max-width: 928px) {
  footer .footerContainer .column4 {
    margin-top: 20px; } }
      footer .footerContainer .column4 nav {
        border-top: 1px solid black;
        padding-top: 25px;
        width: 160px;
        margin-left: 80px; }
        footer .footerContainer .column4 nav ul {
          width: inherit;
          display: flex; }
          footer .footerContainer .column4 nav ul li {
            padding: 0 7px; }
  footer p {
    padding-top: 150px;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
