$Roboto-thin: Roboto-thin, sans-serif
$Roboto: Roboto, sans-serif
$Roboto-Light: Roboto-Light, sans-serif
$red: rgb(225,26,39)
#advantage
    background-color: rgb(243,240,231)
    text-align: center
    padding: 40px 0 120px 0
    .advantageTitle
        padding-bottom: 10px
        font-size: 60px
        font-weight: 100
        font-variant: small-caps
        font-family: $Roboto-thin
        @media (max-width: 768px)
            font-size: 50px
    #advantageGrid
        display: flex
        margin: auto auto
        width: 80%
        justify-content: space-between
        flex-wrap: wrap
        div
            @media ( max-width: 1024px )
                margin: 0 auto
                padding-top: 30px
            .advantagetitles
                font-family: $Roboto
                font-size: 26px
                margin: 20px 0
            .advantagetext 
                font-family: $Roboto-Light
                font-size: 18px
                margin: 5px 0
            
                    
.buttonred
    background-color: $red
    border: 1px solid $red
    margin-top: 85px
    max-width: 370px
    font-size: 27px
    @media (max-width: 768px)
        max-width: 300px
        font-size: 21px
    a
        color: rgb(255,255,255)