footer
    background-color: $yellow
    padding: 50px 0 150px 0
    @media (max-width:768px)
        padding: 50px 0 100px 0

    .footerContainer
        max-width: 1200px
        margin: 0 auto
        display: flex
        flex-wrap: wrap
        .column123
            flex: 3
            display: flex
            flex-wrap: wrap
            nav
                padding-top: 25px
                width: 120px
                border-top: 1px solid black
                margin: 0 40px 0 80px
                @media(max-width: 928px)
                    margin-top: 20px
                ul
                    width: 70%
                    margin: 0 auto
                    float: left
                    li
                        padding: 5px 0
                        font-variant: $scaps
    
            
        .column4
            flex: 1
            display: flex
            @media(max-width: 928px)
                margin-top: 20px            
            nav
                border-top: 1px solid black
                padding-top: 25px
                width: 160px
                margin-left: 75px
                ul 
                    width: inherit
                    display: flex
                    li 
                        padding: 0 7px
                   
                   
    p
        font-size: 16px
        padding-top: 150px
        text-align: center
        @media (max-width:768px)
            font-size: 12px
            padding-top: 100px
        
