#navbar
    min-height: 80px
    display: flex
    padding-top: 30px
    padding-bottom: 15px
    justify-content: space-between
    @media (max-width: 768px)
        font-size: 12px
    .menuIcon
        margin-left: 50px
        @media (max-width: 768px)
            width: 50px
            margin-left: 20px !important
            margin-right: 10px
    .photoLogo
        margin-left: 50px
        width: 250px
        @media (max-width: 768px)
            margin-left: 10px
        img
            @media (max-width: 768px)
            width: 120px         
    div:nth-child(2)
            margin-right: 10%
            @media (max-width: 768px)
                margin-right: 5%
                padding-top: 1px
            a
                @media (max-width: 768px)
                    font-size: 12px